# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# Project Data (Local)
data/*.db
data/knowledge_base/
logs/
reports/*.png

# Models
src/models/*.pkl
*.pkl
reports/*.json

# Mac
.DS_Store
